*.iml
.gradle
/local.properties
/.idea
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties
/app/build
*.apk
*.aab

# Keep signing material in repo per project requirement (key.properties, upload-keystore.jks)
